<div class="container tackingInfo">
    <h4 class="py-5">Tacking the status</h4>
    <form [formGroup]="trackingIdForm" (ngSubmit)="onSubmit(trackingIdForm)" novalidate>
        <div class="row form-group">
            <div class="labelTextArea col-3">
                <label for="trackingID">Enter the tacking Id <sup class="text-danger">*</sup></label>
            </div>
            <div class="inputTextArea col-7">
                <input type="text" class="form-control" id="trackingID" [formControlName]="trackingId" placeholder="Enter tack id here" required>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-pirmary" [disable]="!trackingIdForm.valid">Submit</button>
        </div>
    </form>

    <table>
        Larry	the Bird	@twitterCopy
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Collage</th>
      <th scope="col">City</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of trackingData">
      <th scope="row">{{data.id}}</th>
      <td>{{data.collegeName}}</td>
      <td>{{data.cityName}}</td>
      <td>{{data.status}}}}</td>
    </tr>
    <tr>
        </tr>
    </table>
</div>

